<%= form_for(@defect, html: {class: 'form-horizontal'}) do |f| %>
  <% if @defect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@defect.errors.count, "error") %> prohibited this defect from being saved:</h2>

      <ul>
      <% @defect.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :title, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :title, class: 'span8' %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
    <%= f.text_area :description, rows: 10, class: 'span8' %>
    </div>
  </div>

  <div class="controls">
    <%= f.submit(class: 'btn') %>
  </div>
<% end %>
