<%= form_for(@field_config, {html:{class:'form-horizontal'}}) do |f| %>
  <% if @field_config.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@field_config.errors.count, "error") %> prohibited this field_config from being saved:</h2>

      <ul>
      <% @field_config.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="control-group">
    <%= f.label :field, 'Field name', class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :field %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :html_type, class: 'control-label' %>
    <div class="controls">
      <%= f.select :html_type, options_for_select(@html_options)%>
      <a class="btn-mini btn" id="more_opts"><%= t(".more options") %></a>
    </div>
  </div>

  <div id="vs-wrapper">
  <% @values_qt.times do |i| %>
    <div class="control-group" id = <%= "values#{i+1}" %>>
      <%= f.label "values#{i+1}", class: 'control-label' %>
      <div class="controls">
        <%= text_field_tag "config_field_values#{i+1}", '', name: 'config_field[values][]' %>
        <% if i > 0 %>
          <a href="#" class="icon-remove"></a>
        <% end %>
      </div>
    </div>
  <% end %>
  </div>


  <div class="control-group">
    <%= f.label :description, class: 'control-label' %>
    <div class="controls">
      <%= f.text_area :description, rows: 5 %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :default, class: 'control-label' %>
    <div class="controls">
      <%= f.text_field :default %>
    </div>
  </div>

  <div class="control-group">
    <%= f.label :project_id, class: 'control-label' %>
    <div class="controls">
      <% projects = current_user.projects %>
      <%= f.collection_select(:project_id, projects, :id, :name) %>
    </div>
  </div>

  <%= hidden_field_tag 'has_value', @has_value_fields.join(',') %>

  <div class="controls">
    <%= f.submit('Create', class: 'btn') %>
  </div>
<% end %>
