<% include_javascript 'field_configs/_form.js' %>
<%= simple_form_for(@field_config, html: {class: 'form-horizontal'}) do |f| %>
  <%= f.input :name %>
  <%= f.input :description, as: :text, input_html: {rows: 6} %>

  <%= f.input :html_type do %>
    <%= f.select :html_type, options_for_select(@html_options, @field_config.html_type)%>
    <a class="btn-mini btn" id="more_opts"><%= t(".more options") %></a>
  <% end %>

  <%= hidden_field_tag 'has_value', @has_value_fields.join(',') %>

  <div id="vs-wrapper">
  <% @values_qt.times do |i| %>
    <%= f.input :values, 
                wrapper_html: {id: "values#{i+1}"}, 
                label: "values#{i+1}",
                label_html: {for: "field_config_values#{i+1}"} do %>
      <%= text_field_tag "field_config_values#{i+1}", '', name: 'field_config[values][]' %>
      <% if i > 0 %>
        <a href="#" class="icon-remove"></a>
      <% end #if %>
    <% end #do  %>
  <% end #times %>
  </div>

  <%= f.input :default %>
  <%= f.input :project_id do %>
    <% projects = current_user.projects %>
    <%= f.collection_select(:project_id, projects, :id, :name) %>
  <% end %>
  <div class="controls">
    <%= f.submit('Create', class: 'btn') %>
  </div>
<% end %>
